<div class='profile'>
  <h1 class='welcome'><%= @welcome %></h1>
  <button class='edit-profile'>Edit Profile</button>
  <div class='edit-profile-form'>
    <%= form_for(@user) do |f| %>
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
      <%= f.submit %>
    <% end %>   
  </div>
  <% if !@user.space %>
    <button class='new-space-form-show'>Make A New Salon Wall</button>
    <div class='new-space-form'>
      <%= form_for(@space) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit %>
      <% end %>
    </div>
  <% else %>
    <h2 class='visit-salon-wall'><%= link_to "Go To Salon Wall", current_user.space %></h2>
  <% end %>
</div>