<!DOCTYPE html>
<html>
<head>
  <title>Art Oasis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navigation'>
    <i class="fa fa-bars nav-button nav-open"></i>
    <div class='choices'>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Profile', current_user %>
      <button class='hide-tools hide'>Hide Tools</button>
      <button class='wall-options-button'>Wall Options</button>
    </div>
  </div>
  <div class='wall-options'>
    <h2>Background:</h2>
    <% if user_signed_in? && current_user.space %>
      <%= form_for(current_user.space) do |f| %>
        <%= f.label :imageURL, 'Background' %>
        <%= f.text_field :imageURL %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
